In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
apps = pd.read_csv('application_data.csv')

In [10]:
x = apps[apps.isnull()].count()

In [11]:
x.dtype

dtype('int64')

In [12]:
type(x)

pandas.core.series.Series

In [22]:
x[x != 0]

Series([], dtype: int64)

In [23]:
x[x == 0]

SK_ID_CURR                    0
TARGET                        0
NAME_CONTRACT_TYPE            0
CODE_GENDER                   0
FLAG_OWN_CAR                  0
                             ..
AMT_REQ_CREDIT_BUREAU_DAY     0
AMT_REQ_CREDIT_BUREAU_WEEK    0
AMT_REQ_CREDIT_BUREAU_MON     0
AMT_REQ_CREDIT_BUREAU_QRT     0
AMT_REQ_CREDIT_BUREAU_YEAR    0
Length: 122, dtype: int64

In [24]:
x

SK_ID_CURR                    0
TARGET                        0
NAME_CONTRACT_TYPE            0
CODE_GENDER                   0
FLAG_OWN_CAR                  0
                             ..
AMT_REQ_CREDIT_BUREAU_DAY     0
AMT_REQ_CREDIT_BUREAU_WEEK    0
AMT_REQ_CREDIT_BUREAU_MON     0
AMT_REQ_CREDIT_BUREAU_QRT     0
AMT_REQ_CREDIT_BUREAU_YEAR    0
Length: 122, dtype: int64

In [35]:
y = apps[apps.isna()].count()

In [37]:
z = apps[apps.notna()].count()

In [33]:
apps.shape

(307511, 122)

In [43]:
apps[apps.APARTMENTS_AVG.isnull()].count()

SK_ID_CURR                    156061
TARGET                        156061
NAME_CONTRACT_TYPE            156061
CODE_GENDER                   156061
FLAG_OWN_CAR                  156061
                               ...
AMT_REQ_CREDIT_BUREAU_DAY     133587
AMT_REQ_CREDIT_BUREAU_WEEK    133587
AMT_REQ_CREDIT_BUREAU_MON     133587
AMT_REQ_CREDIT_BUREAU_QRT     133587
AMT_REQ_CREDIT_BUREAU_YEAR    133587
Length: 122, dtype: int64

In [48]:
apps[apps.APARTMENTS_AVG.isna()]['APARTMENTS_AVG']

2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
          ..
307497   NaN
307499   NaN
307502   NaN
307503   NaN
307504   NaN
Name: APARTMENTS_AVG, Length: 156061, dtype: float64

In [44]:
apps.APARTMENTS_AVG.dtype

dtype('float64')

In [36]:
y

SK_ID_CURR                    0
TARGET                        0
NAME_CONTRACT_TYPE            0
CODE_GENDER                   0
FLAG_OWN_CAR                  0
                             ..
AMT_REQ_CREDIT_BUREAU_DAY     0
AMT_REQ_CREDIT_BUREAU_WEEK    0
AMT_REQ_CREDIT_BUREAU_MON     0
AMT_REQ_CREDIT_BUREAU_QRT     0
AMT_REQ_CREDIT_BUREAU_YEAR    0
Length: 122, dtype: int64

In [39]:
y[y != 0]

Series([], dtype: int64)

In [38]:
z[z != 307511]

AMT_ANNUITY                   307499
AMT_GOODS_PRICE               307233
NAME_TYPE_SUITE               306219
OWN_CAR_AGE                   104582
OCCUPATION_TYPE               211120
                               ...
AMT_REQ_CREDIT_BUREAU_DAY     265992
AMT_REQ_CREDIT_BUREAU_WEEK    265992
AMT_REQ_CREDIT_BUREAU_MON     265992
AMT_REQ_CREDIT_BUREAU_QRT     265992
AMT_REQ_CREDIT_BUREAU_YEAR    265992
Length: 67, dtype: int64

In [28]:
apps.APARTMENTS_AVG.head()

0    0.0247
1    0.0959
2       NaN
3       NaN
4       NaN
Name: APARTMENTS_AVG, dtype: float64

In [29]:
apps.APARTMENTS_AVG.mean()

0.11744049917466033

### Check for missing data

In [49]:
apps.AMT_ANNUITY.isna().values.any()

True

In [50]:
apps.AMT_ANNUITY.isna().values

array([False, False, False, ..., False, False, False])

In [51]:
apps.AMT_ANNUITY.isna()

0         False
1         False
2         False
3         False
4         False
          ...
307506    False
307507    False
307508    False
307509    False
307510    False
Name: AMT_ANNUITY, Length: 307511, dtype: bool

### Check which cols are numeric

In [53]:
apps.AMT_ANNUITY.dtype == float or apps.AMT_ANNUITY.dtype == int

True